# Web framework
flask
gunicorn

# Data processing
pandas
numpy

# Machine Learning
scikit-learn   # Must match training version
joblib
xgboost==2.1.1
lightgbm==4.3.0

# Visualization (optional, only if you use them in code)
matplotlib==3.9.1
seaborn==0.13.2
